.App {
  text-align: center;
}

.navbar{
  background-color: skyblue;
  display:grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  
}
input{
  margin-top: 25px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  padding: 10px;

}
/* .artist{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  background-color: purple;
} */
/* .song{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: red;
} */
.artist{
  width: 700px;
  /* display: flex; */
  height: 500px;
  /* background-color: skyblue; */
  border-radius: 20px;

  border-color: black;
  margin-left: 40%;
 
}
.home{
/* background-color: blue; */
  width: 100%;
  display: grid;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40% 40%;
  grid-gap: 10px;
  /* place-items: center; */
  /* margin-l: auto; */

}
main{
  display: flex;
}
